* {

  box-sizing: border-box;
  font-family: 'Noto Sans Thai','Gothambook' , sans-serif ;
  color: #393c41;
  margin: 0;
  padding: 0;

}

a {

  text-decoration: none;

}

body {

  width: 100%;

}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;

}
